<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href={% static "css/style.css" %}'>
    <title>My Account</title>
</head>
<body>
    
    <h1>Add a Quote {{user.first_name}} {{user.last_name}}</h1>
    <h3>Post a New Message</h3>
    <form action='post/message' method='POST'>
        {% csrf_token %}
        <input type="text" name="message">
        <button type="submit">Submit</button>
    </form>
    <a href="logout">Log Out</a>
    {% for wall_message in wall_messages %}
        <h2>"{{wall_message.message}}"</h2>
        <p>Posted by <a href="/profile/{wall_message.poster.id}}">{{wall_message.poster.first_name}} {{wall_message.poster.last_name}}</a></p>
        <p>Created at: {{wall_message.created_at}}</p>
        {% if wall_message.poster.id == request.session.user_id %}
            <form action="/delete_message/{{wall.message.id}}" method = "POST">
                {%csrf_token%}
                <button type=submit>Delete</button>
            </form> 
    {% endif %}
        <!-- <a href="/delete_message/{{wall_message.id}}">Delete Message</a> -->
        {% for comment in wall_message.wall_message_comments.all %}
            <h3>"{{comment.comment}}"</h3>
            <p>Comment by {{comment.poster.first_name}} {{comment.poster.last_name}}</p>
            <p>Created at: {{comment.created_at}}</p>
            <!-- <a href="/delete_comment/{{comment.id}}">Delete Comment</a> -->
            {% if comment.poster.id == request.session.user_id %}
            <form action="/delete_comment/{{wall.message.id}}" method = "POST">
                {%csrf_token%}
                <button type=submit>Delete</button>
            </form> 
    {% endif %}
            {% endfor %}
        <form action='post/comment/{{comment.id}}' method='POST'>
            {% csrf_token %}
            <input type="text" name="comment">
            <button type="submit">Post Comment on Message</button>
        </form>
    {% endfor %}    
    
</body>
</html>


