<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/style.css'%}">
    <title>Create a trip</title>
    
</head>
<body>
    <h1>Hello Maria! Create a trip!</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form action="/shows/create" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="destination">Destination</label>
            <input type="text" name="destination" id="destination" class="form-control">
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" class="form-control"> 
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            <input type="date" name="end_date" id="end_date" class="form-control" value="{{ show.release_date|date:'D d M Y' }}">
        </div>
        <div class="form-group">
            <label for="plan">Plan</label>
            <textarea name="plan" id="plan" cols="30" rows="10" class="form-control">{{ show.description }}</textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    <!-- <a href="/edit">Submit</a>
    <a href="/shows">Cancel</a> -->

</body>
</html>