/* // Place all the styles related to the Times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

/* body {
	margin: 0 auto;
	text-align: center;
	width: 400px;
}

h3 {
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
}

#datetime {
	border: 1px solid black;
} */

/* form {
    border: 2px solid black;
    border-radius: 10px;
    float: left;
    margin-left: 30px;
}
table, h2{
    margin: 10px;
}
textarea.textarea {
    margin-left: 20px;
    margin-bottom: 20px;
	resize: none;
}

input.button {
    float: right;
    margin: 0px 34px 10px 0px;
    width: 90px;
    height: 40px;
    box-shadow: 2px 5px;
    background-color: rgb(105, 174, 206);
    font-size: 20px;
    /* color: white; */
} */

