<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
</head>
<body>
    {% if messages %}
    <ul class="comments">
        {% for comment in comment %}
        <li>{{ comment.comment }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Success! Welcome, {{user.first_name}} {{user.last_name}}</h1>
    {% for message in wall_messages %}
    <p>{{message.poster.first_name}}: {{message.message}}</p>
    {% endfor %}
    <h3>Post a New comment</h3>
    <!-- <form action='post/message' method='POST'> -->
        <form action='/post_comment' method='POST'>
           {% csrf_token %}
        <input type="text" name="comments">
        <button type="submit">Post a comment</button>
        </form>
        
                <form action="/delete_comment" method = "POST">
                    {%csrf_token%}
                    <button type=submit>Delete</button>
                </form> 
  



</body>
</html>
