<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel='stylesheet' href={% static "css/style.css" %}'>
    <title>Steve's Mock Page Two</title>

</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message.message }}</li>
        {% endfor %}
    </ul>
   
    {% endif %}
    
    <h1>Success! Welcome, Andrew!</h1>
    <h3>Successfuly registered (or logged in)!</h3>
    <p><a href="http://127.0.0.1:8000/">Log out</a></p>

    return redirect('/')
    
</body>
</html>