<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <h3>The current time and date</h3>
    <h1>What is today{{todaydate|date:"l-F d, Y "}}</h1>
    <h1>What time is it{{todaytime|time:"P, I, T "}}</h1>
    
    
    <h1>This is my Django site</h1>
    <p>I can write all kinds of sentences I can write all kinds of sentencesI can write all kinds of sentencesI can write all kinds of sentencesI can write all kinds of sentencesI can write all kinds of sentencesI can write all kinds of sentencesI can write all kinds of sentences</p>
    <ul>
        <a href="/python"<li>Python</li></a>
        <li>Java</li>
        <li>HTML</li>
        <li>CSS</li>

    </ul>
</body>
</html>

<