<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>All Shows</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>All Shows</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- START LOOPING THROUGH SHOWS -->
        {% for show in shows %}
        <tr>
            <td>{{ show.id }}</td>
            <td>{{ show.title }}</td>
            <td>{{ show.network }}</td>
            <td>{{ show.release_date }}</td>
            <td><a href="/shows/{{ show.id }}">Show</a> | <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a></td>

        </tr>
        {% endfor %}
        </tbody>
        <a href="/shows/new">Add a Show!</a>
    </table>
</body>
</html>