<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>How to make a Wish</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel='stylesheet' href='{% static "css/style.css"%}'> 
    
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2 class='new_user'>Hello {{ user.first_name }} Make a wish!</h2>
    <h3>A wish must consist of at least 3 characters!</h3>
    <h3>A description must be provided!</h3>
    <form class='big_form' action="/new_wish" method='POST'>
        {% csrf_token %}
        <label for="exampleFormControlInput1">I wish for:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name='item'>
        <div class="form-group">
            <label for="exampleFormControlInput1">Description:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name='desc'>
        </div>
        <input type="hidden" name='user_id' value="{{ user.id }}">
        <button type="submit" value='submit' class="btn btn-success">Submit</button>
        <a class='go_back' href="/">Cancel</a>
    </form>

    
</body>
</html>