<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Walk my dog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
   
<body>
    <p><a id="back" href="/dashboard">Back</a> | <a id="back" href="/dashboard">Logout</a></p>
     <h3>Walk my dog</h3>
     <p>Take my dog for an hour long Walk</p>
     <p>Location: 6383 High St.</p>
     <p>Posted by: Randy Savage</p>
     <p>Posted on:</p>October 25, 2018</p>
     <br>
     <a href="http://127.0.0.1:8000/dashboard">Add to My Jobs</a>

     

</body>
</html>